.container {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  h1 {
    color: violet;
  }
  #count {
    font-size: 60px;
  }
  .btn {
    border-radius: 6px transparent;
    margin: 40px 10px;
  }
  .btn:hover {
    background-color: rgba(234, 242, 215, 0.3);
  }